body{
    background-color: rgb(34,34,34);
    font-family: "Poppins", serif;
    color: rgb(226, 225, 225);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    margin: 0 auto;
}

li{
    display: inline-block;
    margin: 17px;
    

}

a{
    color: white;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.45s;
}

#jatemcontabtn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 25px;
}

#jatemcontabtn:hover{
  background-color: rgb(132, 14, 201);
  color: white;  
}