@import url("/media.css");
@media screen and (max-width: 760px){
    header{
        flex-direction:column;
        align-items: center;
        text-align: center;
    }

    main{
        flex-direction: column;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    #conceito{
        display: none;

    }

    #quemsomos{
        display: none;
    }

    #qsomos{
        max-width: fit-content;
        margin-left: 65%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    #cato{
        display: none;
    }

    #title{
        max-width: fit-content;
        margin-left: 45%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
    
    }

    ul{
        max-width: fit-content;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }


}

@media screen and (max-width: 800px){
    h2{
        line-height: 40px;
    }
}

